 :root {
    --outer-space: #33393f;
    --bright-turquoise: #2aefcb;
    --gin: #e0eae4;
    --heliotrope: #e866ec;
  }

* {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}

body {
    background-color: #c8d0ef;
    margin: 0;
}

.content {
    padding: 0px;
    margin: 0px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: 
}

h1 {
    font-size: 50px;
    color: rgb(65, 49, 171);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #7eb3de;
    background-image: url(../images/background-header.jpg);
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 0px;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav {
   overflow: hidden;
   background: #423dcc; 
}
.nav a{
    float: right;
    color:#000;
    text-align: center;
    padding: 20px 16px;
    font-size: 14px;
    width: 100px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.nav a:hover{
    background: lightblue;
    color: #fff;
}

.header h1 {
    display: inline-flex;
    font-size: 50px;   
}

.header div {
    padding-top: 0;
    margin-right: 0%;
    float: inline-end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.header div ul {
    list-style-type: grid; ---
}

.header div ul li {
    display: inline-flex;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 0px;
    margin-inline: 7 px;
    margin-bottom: 15px;
    padding-block-start: 10px;
}

a {
    color: black;
    text-decoration: rgb(194, 71, 255);
}

p {
    font-size: 17px;
    width: 100%;
    margin-inline-end: 50%;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.card-column {
    width: 50%;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 8px 8px 8px 32px;
    height: 300px;
    border-left-style: solid;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-display: fallback;
    background-image: #0072bb;
    color: #3e468a;
}

.card-reader img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

@media screen and (max-width: 992px) {
    header, content {
      width: 50%;
    }
}

@media screen and (max-width: 992px) {
    footer {
      width: 50%;
    }
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
